html * {
  font-family: gilroy;
}


h1 {
  font-size: 2em;
  font-family: gilroy;
  text-transform: uppercase;
}


a {
  color: #252d5d;

}

.day span {
  color: #252d5d;

}

.day {
  color: #692f5d;
}
